.about {
    background: darken($black, 5%);
    color: $white;
    overflow-x: hidden;
    padding: 4em 2em 4em 6em;

    .description {
        font-size: 0.8em;
        width: 80%;
    }

    img {
        border-style: double;
        border-width: 6px;
        border-color: $light-grey-20;
    }
}
