@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// 2. Vendors
@import 'vendors/normalize';
@import 'vendors/flexboxgrid';

// 3. Base stuff
@import 'base/base';
@import 'base/borders';
@import 'base/flex';
@import 'base/padding';
@import 'base/margin';
@import 'base/typography';

// 5. Components
@import 'components/button';
@import 'components/loaders';
@import 'components/modal';
@import 'components/navs';
@import 'components/notify';

@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway/Raleway-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url(../fonts/Raleway/Raleway-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'CormorantGaramond-Light';
    src: url(../fonts/CormorantGaramond-Light.ttf) format('truetype');
}
