@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// 2. Vendors
@import 'vendors/normalize';
@import 'vendors/flexboxgrid';

// 3. Base stuff
@import 'base/base';
@import 'base/borders';
@import 'base/flex';
@import 'base/padding';
@import 'base/margin';
@import 'base/typography';

// 5. Components
@import 'components/button';
@import 'components/loaders';
@import 'components/modal';
@import 'components/navs';
@import 'components/notify';

@font-face {
    font-family: 'FiraSans-Regular';
    src: url(../fonts/FiraSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Aleo-Light';
    src: url(../fonts/Aleo-Light.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}
